body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff8f0;
  color: #3b2f2f;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1511920170033-f8396924c348");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 4rem;
}

.hero button {
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background: #f4c430;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* ABOUT */
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px;
  align-items: center;
  gap: 30px;
}

.about img {
  width: 350px;
  border-radius: 20px;
}

.about h2 {
  color: #8b4513;
}

/* MENU */
.menu {
  background: #fbe7c6;
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 15px;
  width: 220px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
}

/* CONTACT */
.contact {
  padding: 50px 20px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #3b2f2f;
  color: white;
  text-align: center;
  padding: 20px;
}
